/* *****Detail project description***** */
 body{
    margin: 0 ;
    padding: 0;
    font-family: Open Sans;
    
}
.dogLog{
    background: linear-gradient(rgba(92, 44, 22, 0.5), rgba(7,7,7,0.5)), url("../images/dogbackground.jpg");
}
.crystal{
    background-image: linear-gradient(to top, #083a69 0%, #043155 100%);
    /* background-image: linear-gradient(to top, #c79081 0%, #dfa579 100%); */
}
.train{
    background: linear-gradient(rgba(70,7,7,0.5), rgba(7,7,5,0.7)), url("../images/trainbackground.jpg");
}
.friends{
    background: linear-gradient(rgba(5,5,25,0.5), rgba(5,5,25,0.5)), url("../images/friendsbackground.jpg");
}
.wordGuess{
    background-color: rgb(6, 76, 122);
    /* background: linear-gradient(rgba(46, 122, 185, 0.7),rgba(46, 122, 185, 0.7)); */
}
.trivia{
    background: linear-gradient(rgba(5,5,2,0.8), rgba(5,5,5,0.8)), url("../images/triviabackground.jpg");
}
.project-description-container{
    /* background-image: url("../images/dogBackground.jpg"); */
    margin: -25px 0 ;
    padding:0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    
    width:100%;
    height:100%;
    
}

.description h1, .responsive-page h1{
    padding: 20px;
    text-align: center;
}
.dog-responsive-page h1, .dog-description h1{
    color: rgb(231, 203, 43);
}
.crystal-description h1, .crystal-responsive-page h1{
    color: #fbeec1;
}
.train-description h1, .train-responsive-page h1{
    color: rgb(36, 168, 230);
}
.friends-description h1, .friends-responsive-page h1{
    color: rgb(248, 233, 205);
}
.wordGuess-description h1, .wordGuess-responsive-page h1{
    color: rgb(67, 223, 223);
}
.trivia-description h1, .trivia-responsive-page h1{
    color: rgb(206, 67, 25);
}
.description p{
    font-size: 22px;
    line-height: 35px;
    word-spacing: 1px;
    letter-spacing: 1px;
    text-transform: capitalize;
    color: rgb(187, 184, 184);
}
.dog-button{
    background-color:  rgb(231, 203, 43);
    
}
.crystal-button{
    background-color: #fbeec1;
}
.train-button{
    background-color:rgb(17, 113, 158);
}
.friends-button{
    background-color:rgb(248, 233, 205);
}
.wordGuess-button{
    background-color:rgb(67, 223, 223);
}
.trivia-button{
    background-color:rgb(206, 67, 25);
}
button{
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
}
.button{
    text-align: center;
}
 button a{
     text-decoration: none;
     color: rgb(7, 7, 7);
 }
 button a:hover{
    text-decoration: none;
     color: rgb(190, 188, 187);
 }
 .text-description{
     width: 90%;
     margin: 0 auto;
 } 
 img{
     padding: 0;
     /* align-self: center; */
     
 }
 .responsive-image{
    /* width: 100%; */
    /* height: 100%; */
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    justify-content: space-around;

    
}
.item{
    margin: 10px;
}

.mobile{
   width: 250px;
   
   align-self: center;
}
.laptop{
   width:480px;
   align-self: center
   
}
.tablet{
  width: 350px;
  align-self: center
   
}
@media  screen and (min-width: 770px) {
    .mobile{
       width: 35%;
       height: 500px;
    }
    .laptop{
       width: 70%;
       height: 400px;
    }
    .tablet{
       width: 50%;
       height: 600px;
    }
}
@media  screen and (min-width: 900px) {
    .mobile{
       width: 30%;
       height: 500px;
    }
    .laptop{
       width: 65%;
       height: 400px;
    }
    .tablet{
       width: 40%;
       height: 600px;
    }
}
@media  screen and (min-width: 1300px) {
    .mobile{
       width: 20%;
       height: 500px;
    }
    .laptop{
       width: 42%;
       height: 400px;
    }
    .tablet{
       width: 28%;
       height: 600px;
    }
}

/* ************************* */
/* Crystal Collector style */

/* background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%); */